
@{
    ViewBag.Title = "Index";
}

<!-- Header -->
<div class="header" id="home">

    <!-- Navigation -->
    <div class="navigation">
        <nav class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">BFTF</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">我要申貸</a></li>
                        <li><a href="#">我要投資</a></li>
                        <li><a href="#agitsworkw3ls">會員中心</a></li>
                        <li><a href="#portfolio">關於我們</a></li>
                        <li><a href="#">常見問題</a></li>
                        <li><a href="#agiilecontactw3layouts">聯絡我們</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <!-- //Navigation -->
    <!-- Slider -->
    <div class="slider w3layouts agileits">
        <ul class="rslides w3layouts agileits" id="slider">
            <li>
                <img src="~/images/slide-1.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-2.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-3.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-4.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-5.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
        </ul>
    </div>
    <!-- //Slider -->

</div>
<!-- //Header -->
<!-- About -->
<div class="agileabout" id="agileabout">
    <div class="container">

        <div class="col-md-6 col-sm-6 agileabout-grid agileabout-grid-1">
            <h1><span>Welcome!</span> You will love us...</h1>
            <h4>我們的期望...</h4>
            <p>
                我們的借貸媒合平台是利用網路的便利性取代傳統銀行專員服務去提供借貸。此專題系統內含會員個人基本資料，一開始可先註冊，
                提供電子郵件設定帳號密碼，等真正有需求再填寫個人申貸表，裏面是較為隱私的資料（例如貸款緣由，家庭背景等），
                再來因需核實要求貸款人取得自已的信用報告並郵寄到我方後台，一連串程序後正式上架系統媒合主頁，
                借貸雙方達成共識由我方立契約。而相較貸款人所需的資料繁複，借貸人這邊只需提供個人的薪資證明...，
                再者因有分一般及進階會員，不同身分享有不同權利，因此要享有較高的權利我們要求一般會員需繳納一定額度的費用才可升等，至於為什麼對貸款人的規範會比較多，
                那是因為貸款本身承受風險的是借貸人因此相對的我們有義務要讓借貸人的投資風險降到最低
            </p>
        </div>
        <div class="col-md-6 col-sm-6 agileabout-grid agileabout-grid-2">
            <img src="~/images/about.jpg" alt="W3layouts Agileits">
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //About -->
<!-- Explore -->
<div class="w3layoutsexplore" id="w3layoutsexplore">

    <div class="col-md-4 col-sm-4 w3layoutsexplore-grid w3layoutsexplore-grid-1">
        <img src="~/images/explore.jpg" alt="W3layouts Agileits">
    </div>
    <div class="col-md-8 col-sm-8 w3layoutsexplore-grid w3layoutsexplore-grid-2">
        <h2><span>Explore!</span> You will love it...</h2>
        <ul>
            <li class="explore-1">
                <h4>Perspiciatis Unde Omnis</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
            </li>
            <li class="explore-2">
                <h4>Harum Quidem Rerum Elit</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
            </li>
            <li class="explore-3">
                <h4>Omnis Voluptas Assumenda</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
            </li>
            <li class="explore-4">
                <h4>Necessitatibus Saepe Sun</h4>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</p>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Explore -->

<!-- Work -->
<div class="agitsworkw3ls" id="agitsworkw3ls">

    <div class="col-md-6 col-sm-6 agitsworkw3ls-grid agitsworkw3ls-grid-1">
        <h3 class="h3-1">What can You do</h3>
        <h3 class="h3-2">Join Us...</h3>

        <!-- Tabs -->
        <div class="tabs">
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>註冊</span></li>
                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>登入</span></li>
                    </ul>

                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                            <p><input type="button"onclick="location.href='要前往的網頁連結'" value="SIGN UP" 
                                      style="width:120px;height:40px;font-size:20px;align-content:center;background-color:azure;font-family:sans-serif;color:Highlight"></p>
                        </div>
                        <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-2">
                            <p><p><input type="button" onclick="location.href='要前往的網頁連結'" value="LOGIN" 
                                         style="width:120px;height:40px;font-size:20px;align-content:center;background-color:azure;font-family:sans-serif;color:Highlight"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Tabs -->


    </div>

    <div class="col-md-6 col-sm-6 agitsworkw3ls-grid agitsworkw3ls-grid-2">
        <img src="~/images/work.jpg" alt="W3layouts Agileits">
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Work -->
<!-- Portfolio -->
<div class="portfolio w3layouts agileits" id="portfolio">

    <h3 class="h1">About Us</h3>

    <ul class="simplefilter w3layouts agileits">
        <li class="active w3layouts agileits" data-filter="all">All</li>
        <li data-filter="1">Category1</li>
        <li data-filter="2">Category2</li>
    </ul>
    

    <div class="filtr-container w3layouts agileits">

        <div class="filtr-item w3layouts agileits portfolio-t" data-category="1, 5" data-sort="Busy streets">
            <a href="images/portfolio-1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 5" data-sort="Luminous night">
            <a href="images/portfolio-2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="1, 4" data-sort="City wonders">
            <a href="images/portfolio-3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="3" data-sort="In production">
            <a href="images/portfolio-4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="3, 4" data-sort="Industrial site">
            <a href="images/portfolio-5.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Peaceful lake">
            <a href="images/portfolio-6.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-6.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="1, 5" data-sort="City lights">
            <a href="images/portfolio-7.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-7.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
            <a href="images/portfolio-8.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-8.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
            <a href="images/portfolio-9.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/portfolio-9.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>

                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="clearfix"></div>

    </div>

</div>
<!-- //Portfolio -->
<!-- Feedback -->
<div class="w3lfeedbackaits" id="feedback">

    <div class="w3lfeedbackaits-grid w3lfeedbackaits-grid-1">
        <img src="~/images/feedback.jpg" alt="W3layouts Agileits">
    </div>
    <div class="w3lfeedbackaits-grid w3lfeedbackaits-grid-2">

        <h3 class="h3-1">What is P2P platform</h3>
        <h3 class="h3-2">That is...</h3>
        <!-- Slider1 -->
        <div class="slider-1 w3layouts agileits">
            <ul class="rslides w3layouts agileits" id="slider1">
                <li>
                    <p>
                        P2P ( Peer to Peer )意思就是透過網路，借貸人直接貸款給貸款人也就是個人對個人的直接金融，屬於民間借貸的一種。
                        P2P貸款因為去除了銀行金融仲介的費用，不僅借款利率低，從投資人角度看也是有利的，可大幅拉高投資報酬，不用一定要把錢借給銀行，拿1.2%不合理的低利定存。
                        P2P的核心精神是「金融民主化」，人民可從銀行拿回自己的財產支配權，自主決定投資放貸對象，打破「銀行集權」的局面。
                    </p>
                    <h4>reference https://www.lend.com.tw/index.html</h4>
                </li>
            </ul>
        </div>
        <!-- //Slider1 -->
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Feedback -->
<!-- Contact -->
<div class="agiilecontactw3layouts" id="agiilecontactw3layouts">
    <div class="container">

        <h3 class="h3-1">Contact Us</h3>
        <h3 class="h3-2">It's Easy...</h3>

        <div class="col-md-6 col-sm-6 agiilecontactw3layouts-grid agiilecontactw3layouts-grid-1">
            <div class="agiilew3layoutscontact-grid">
                <form action="#" method="post">
                    <input type="text" class="text" name="Name" placeholder="YOUR NAME" required="">
                    <input type="text" class="text email" name="Email" placeholder="YOUR EMAIL" required="">
                    <textarea name="Message" placeholder="MESSAGE" required=""></textarea>
                    <input type="submit" class="more_btn" value="SEND MESSAGE">
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 agiilecontactw3layouts-grid agiilecontactw3layouts-grid-2">
            <div class="agiilew3layoutsconnect-social">
                <h3><span>Follow Us!</span>其他管道</h3>
                <ul>
                    <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                    <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                    <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                </ul>
            </div>
            <p>若有其他疑問，歡迎你透過相關管道向我們反應</p>
          

    </div>
</div>
<!-- //Contact -->
<!-- Map -->
<div id="map"></div>
<!-- //Map -->
<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="copyright slideanim">
            <p>&copy; 20210910 Design by 第一組 </p>
        </div>

    </div>
</div>
<!-- //Footer -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>

<!-- Slider-JavaScript -->
<script src="~/js/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider, #slider1").responsiveSlides({
            auto: false,
            nav: true,
            speed: 1500,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>
<!-- //Slider-JavaScript -->
<!-- Horizontal-Tabs-JavaScript -->
<script src="~/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default',
            width: 'auto',
            fit: true,
        });
    });
</script>
<!-- Horizontal-Tabs-JavaScript -->
<!-- Number-Scroller-Effect-JavaScript -->
<script type="text/javascript" src="~/js/numscroller-1.0.js"></script>
<!-- //Number-Scroller-Effect-JavaScript -->
<!-- Tabs-JavaScript -->
<script src="~/js/jquery.filterizr.js"></script>
<script src="~/js/controls.js"></script>
<script type="text/javascript">
    $(function () {
        $('.filtr-container').filterizr();
    });
</script>
<!-- //Tabs-JavaScript -->
<!-- PopUp-Box-JavaScript -->
<script src="~/js/jquery.chocolat.js"></script>
<script type="text/javascript">
    $(function () {
        $('.filtr-item a').Chocolat();
    });
</script>
<!-- //PopUp-Box-JavaScript -->
<!-- Map-JavaScript -->
<script type="text/javascript" src="~/https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);
    function init() {
        var mapOptions = {
            zoom: 11,
            center: new google.maps.LatLng(40.6700, -73.9400),
            styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
        };
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.6700, -73.9400),
            map: map,
        });
    }
</script>
<!-- //Map-JavaScript -->
<!-- Slide-To-Top JavaScript -->
<script type="text/javascript">
    $(document).ready(function () {
        var defaults = {
            containerID: 'toTop',
            containerHoverID: 'toTopHover',
            scrollSpeed: 100,
            easingType: 'linear',
        };
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" class="stuoyal3w stieliga" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!-- //Slide-To-Top JavaScript -->
<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll, .navbar li a, .footer li a").click(function (event) {
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->
<!-- Bootstrap-JavaScript -->
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>

<!-- //Custom-JavaScript-File-Links -->
<!-- //Body -->
